{
  "semi": true,
  "useTabs": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 80,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
